body {
    background-color: #000000;
    color: #399dbe;
    font-family: sans-serif;
}

main.index {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    background-color: #399dbe;
    border-radius: 2rem;
    margin: 0 10%;
}

.formNames {
    display: flex;
}

input {
    border-radius: 2rem;
    border: none;
    background-color: #2c2b2b;
}

input::placeholder {
    color: #399dbe;
    text-align: center;
}

.formEmail {
    width: 98%
}

.formCompany {
    width: 60%;
}

#contactSubmitButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#contactSubmitButton button {
    margin: 0;
}

textarea {
    width: 98%;
    border-radius: 2rem;
    background-color: #2c2b2b;
}

textarea::placeholder {
    text-align: center;
    color: #399dbe;
}
header.aboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    padding: 1rem;
    height: 3rem;
    width: 5rem;
}

.logo a {
    height: 0;
    width: 0;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    font-size: small;
}

#downloadCVButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
    margin: 0;
}

button {
    border-radius: 10%;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #646262;
    color: #399dbe;
    font-size: 16pt;
    margin: 5%;
    padding: 2%;
}


select {
    display: flex;
    padding: 0 40% 0 0;
    color: #399dbe;
    background-color: #646262;
    border-radius: 2rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: white;
}

h5 {
    font-size: medium;
    margin-bottom: 0;
}

h4 {
    color: white;
    font-size: x-large;
    margin-top: 0;
}

p {
    color: #399dbe;
}

a {
    text-decoration: none;
    color: #399dbe;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
}

i {
    font-size: 3rem;
    padding-bottom: 1rem;
}

em {
    font-size: 1rem;
}

.copyright {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 4rem 2rem;
    margin: 1rem;
    border-radius: 2rem;
}

.projects.mobile {
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectButton {
    border-radius: 50%;
    padding: 3px;
    margin: 0 3%;
}

.box.aboutMe {
    background-color: #646262;
    text-align: center;
}

.box.projects {
    background-color: #494949;
}

.box.contact {
    background-color: #2c2b2b;
}

.aboutMeImage {
    display: flex;
    padding-left: 5%;
    margin-bottom: 5%;
}

.aboutMeImage img {
    border: #399dbe 3px solid;
    height: 50%;
    width: 50%;
    border-radius: 2rem;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    border: #399dbe 3px solid;
}

.projectInfo img {
    border: #399dbe 3px solid;
    height: 60%;
    width: 60%;
    border-radius: 2rem;
}

main.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mainProjectContent {
    display: flex;
    align-items: center;
}

.additionalProjects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2%;
}

.additionalProjects button {
    font-size: 10pt;
    margin: 1%;
}

nav.web {
    display: none;
}

@media screen and (min-width: 700px) {
    main.index {
        flex-direction: row;
        justify-content: center;
        padding: 10%;
    }

    nav.web{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #494949;
        margin: 1% 1%;
        border-radius: 2rem;
        padding: 0;
    }

    .info {
        font-size: medium;
        padding: 5% 5% 0 5%;
    }

    .navButtons {
        display: flex;
        margin: 0 10%;
        justify-content: center;
    }

    .navButtons a {
        font-size: 20pt;
        margin: 0 5%;
        padding: 2%;
    }

    .navButtons a:hover {
        background-color: #399dbe;
        color: #494949;
    }

    header.mobile {
        display: none;
    }

    header.projects.mobile {
        display: none;
    }

    .box {
        padding: 7%;
        height: 25rem;
        align-items: center;
        width: 20rem;
        box-sizing: border-box;
        flex-direction: column;
    }

    a {
        font-size: 3rem;
        background-position: center;
    }

    p {
        font-size: 1.5rem;
    }

    .projectInfo img {
        height: 40%;
        width: 40%;
    }

    .aboutMe.a {
        width: 40rem;
        text-align: center;
    }

    a.aboutMe:hover {
        background-image: url("../img/Man B&W.jpg");
        background-size: contain;
    }

    a.projects:hover {
        background-image: url("../img/code B&W.jpg");
        background-size: cover;
    }

    a.contact:hover {
        background-image: url("../img/phones B&W.jpg");
        background-size: cover;
    }

    .logo {
        padding-left: 2%;
    }

    .mainProjectContent {
        margin: 5% 8% 0 8%;
    }

    .projectButton:hover{
        a {
            color: #494949;
        }
        background-color: #399dbe;
    }
}